<%if @video.subs %>
<%=render partial:'subs'%>
<%else %>
<%=render partial: 'norm'%>
<%end%>


<br>
<div id="title">
  <h3><%=@video.title%></h3>
</div>
<div id="date published">
  <p>Published on: <%=@video.published_at.strftime('%B %d, %y')%></p>
</div>
<div id="description">
  <p><%=@video.description%></p>
</div>
<br>
<!--<div id="short_description">
  <p><%=@video.short_description%></p>
</div>-->
<br>
<%= link_to 'Back', :back %>
